@import '../../../../variables.scss';

.company{
    display: grid;
    grid-template-columns: 1fr;
    gap: 30px;
    padding: 20px;
    background: var(--light-mist);
    margin-bottom: 20px;
    border-radius: 4px;
    position: relative;
  
    @media(min-width: $tablet-breakpoint) {
      grid-template-columns: 1fr 1fr;
      gap: 10px 20px;
    }
  
    &::before{
      content: '';
      display: block;
      width: 4px;
      height: 20px;
      background: linear-gradient(var(--luminous-lime),var(--zesty-green));
      position: absolute;
      top: 20px;
      left: -4px;
    }
  
    &__year{
      position: initial;
      color: var(--dark-slate);
      font-size: $text-font-size-small;
      text-align: left;
      order: 1;
      
      &--light{
        color: var(--dark-slate);
      }
      &--dark{
        color: var(--white);
      }

      @media(min-width: $tablet-breakpoint) {
        position: absolute;
        top: 22px;
        left: -50px;
        width: 80px;
        text-align: initial;
        order: initial;
      }
    }
    &__title{
      font-size: $text-font-size-medium-small;
      color: var(--black);
      line-height: 1.1;
      font-weight: bold;
    }
    &__role{
      font-size: $text-font-size-medium-small;
      color: var(--black);
      line-height: 1.1;
      font-weight: bold;
    }
    &__description{
      font-size: $text-font-size-small;
      color: var(--black);
      line-height: 1.4;
      color: var(--dark-slate);
    }
    &__skills{
      display: flex;
      flex-wrap: wrap;
      gap: 10px;
      align-content: flex-start;
    }
    &__skill{
      font-size: $text-font-size-small;
      line-height: 1.4;
      border-radius: 4px;
      background-color: var(--white);
      color: var(--black);
      padding: 5px 10px;
    }
  }