@import '../../../../variables.scss';

.navItem{
    border-radius: 4px;
    font-size: $text-font-size-medium-small;
    line-height: 1.3;
    padding: 10px 20px;
    text-decoration: none;
    color: $dark-charcoal;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    transition: all 0.5s ease-in-out;

    &:hover{
        background: $misty-morning;
    }
}