@import '../../../../variables.scss';

.navItem {
    color: var(--dim);
    text-decoration: none;
    text-transform: uppercase;
    transition: color .15s ease;

    &:hover {
        color: var(--accent);
    }
}
