@import '../../../../variables.scss';

.navItem {
    border-radius: 4px;
    font-size: $text-font-size-medium-small;
    line-height: 1.3;
    padding: 10px 20px;
    text-decoration: none;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    transition: all 0.5s ease-in-out;

    &--light {
        color: $dark-charcoal;

        &:hover {
            background: $misty-morning;
        }
    }

    &--dark {
        color: $light;

        &:hover {
            background: transparent;
        }
    }


}