@import '../../../../variables.scss';

.formation{
  background: $dark-charcoal;
  color: $light;
  &__container{
    max-width: 100%;
    padding: 60px 20px;
    margin: 0 auto;
    display: grid;
    grid-template-columns: 1fr;
    gap: 40px;
    position: relative;
  
    @media(min-width: $tablet-breakpoint) {
      max-width: 1200px;
      padding: 120px 20px;
      grid-template-columns: 1fr 2fr;
      gap: 100px;
    }

    &::after{
      content: '';
      display: block;
      width: 130px;
      height: 100px;
      background: url("../../../../assets/detalhe.svg") no-repeat center;
      position: absolute;
      bottom: -50px;
    }

    
  }
  &__text{
    font-size: $text-font-size-medium;
    line-height: 1.33;
    margin-bottom: 60px;
    color: $misty-gray;

    & strong{
      color: $light;
    }
  }
  &__colleges{
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    margin-bottom: 60px;
  }
  &__courses{
    margin-bottom: 60px;
    .formation__category::before{
      background: url('../../../../assets/cursos.svg') no-repeat center center;
    }
  }
  &__languages{
    .formation__category::before{
      background: url('../../../../assets/idiomas.svg') no-repeat center center;
    }
  }
  &__category{
    font-style: $text-font-size-small;
    line-height: 1.4;
    color: $silver-mist;
    text-transform: uppercase;
    margin-bottom: 30px;
    position: relative;

    &::before{
      display: block;
      content: "";
      width: 24px;
      height: 24px;
      position: initial;
      margin-bottom: 10px; 

      @media(min-width: $tablet-breakpoint) {
        position: absolute;
        left: -36px;
        top: -4px;
        margin-bottom: 0; 
      }
    }
}
}
