@import '../../../../variables.scss';
.experience{
  max-width: 100%;
  padding: 40px 20px;
  margin: 0 auto;
  display: grid;
  gap: 40px;
  grid-template-columns: 1fr;
  @media(min-width: $tablet-breakpoint) {
    max-width: 1200px;
    grid-template-columns: 1fr 2fr;
    gap: 100px;
  }

  &__description{
    font-size: $text-font-size-medium-small;
    line-height: 1.33;
    margin-bottom: 60px;
    
    &--light{
      color: $charcoal-shadow;

      & strong{
        color: $dark-charcoal;
      }
    }

    &--dark{
      color: $misty-morning;

      & strong{
        color: $light;
      }
    }
  
    

    @media(min-width: $tablet-breakpoint) {
      font-size: $text-font-size-medium;
    }
  }
}

