@import './variables.scss';


html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
	font-family: "Fira Sans", Arial, sans-serif;
	box-sizing: border-box;
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	vertical-align: baseline;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
	display: block;
}

  :root {
	--white: #ffffff;         
	--pale-silver: #e2e2e2;   
	--light-mist: #f5f5f5;    
	--silver-cloud: #cccccc;  
	--soft-gray: #a3a3a3;     
	--medium-gray: #686868;   
	--dark-slate: #525252;
	--gray-shadow: #8f8f8f;    
	--deep-charcoal: #141414; 
	--black: #000000;         
	--luminous-lime: #b6f829;
	--zesty-green: #67dd0a;
  }
  
  [data-theme="dark"]{
		--white: #000000;          
		--pale-silver: #000000;    
		--light-mist: #333333;     
		--silver-cloud: #555555;   
		--soft-gray: #777777;      
		--medium-gray: #999999;    
		--dark-slate: #CCCCCC;     
		--gray-shadow: #050404;    
		--deep-charcoal: #f8f3f3;  
		--black: #ffffff;          
		--luminous-lime: #8cbf26;  
		--zesty-green: #a8e67b;    
  }

[data-theme="snow"]{
    --white: #112233;           
    --pale-silver: #334455;     
    --light-mist: #556677;      
    --silver-cloud: #778899;     
    --soft-gray: #99AABB;       
    --medium-gray: #BBCCEE;     
    --dark-slate: #DDEEFF;      
    --gray-shadow: #001122;     
    --deep-charcoal: #EFF2F5;   
    --black: #FFFFFF;           
    --luminous-lime: #00FFFF;   
    --zesty-green: #66FFFF;     
}
[data-theme="sunset"]{
    --white: #2D1C27;           
    --pale-silver: #4E3041;     
    --light-mist: #755260;      
    --silver-cloud: #9E7385;     
    --soft-gray: #B994A1;       
    --medium-gray: #D0B5BE;     
    --dark-slate: #E9D4DC;      
    --gray-shadow: #1F0E18;     
    --deep-charcoal: #FFEBE6;   
    --black: #FFFFFF;           
    --luminous-lime: #FF6E40;   
    --zesty-green: #FF9E7F;     
}
[data-theme="forest"]{
    --white: #E0E6E0;           
    --pale-silver: #CAD1CA;     
    --light-mist: #B3BDB3;      
    --silver-cloud: #9DA79D;     
    --soft-gray: #889288;       
    --medium-gray: #717B71;     
    --dark-slate: #5B655B;      
    --gray-shadow: #444E44;     
    --deep-charcoal: #2F392F;   
    --black: #191E19;           
    --luminous-lime: #B1D8B7;   
    --zesty-green: #79C285;     
}







  
  

body {
	line-height: 1;
	background-color: var(--white);
	color: var(--deep-charcoal);
}

ol,
ul {
	list-style: none;
}


blockquote,
q {
	quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
	content: '';
	content: none;
}

table {
	border-collapse: collapse;
	border-spacing: 0;
}
h1,
h2,
h3,
h4,
h5,
h6,
p {
	margin: 0px;
}

ul {
	list-style: none;
}

img {
	max-width: 100%;
	display: block;
}