$white: #ffffff;
$pale-silver: #e2e2e2;
$light-mist: #f5f5f5;
$silver-cloud: #cccccc;
$soft-gray: #a3a3a3;
$medium-gray: #686868;
$dark-slate: #525252;
$gray-shadow: #8f8f8f;
$deep-charcoal: #141414;
$black: #000000;
$luminous-lime: #b6f829;
$zesty-green: #67dd0a;

$text-font-size-small: 0.875rem;
$text-font-size-medium-small: 1.125rem;
$text-font-size-medium: 1.5rem;
$text-font-size-large: 2rem;
$text-font-size-large-medium: 2.25rem;
$text-font-size-extra-large: 3rem;
$text-font-size-super-large: 4.5rem;
$text-font-size-ultra-large: 8rem;

$desktop-breakpoint: 1024px;
$tablet-breakpoint: 768px;
$mobile-breakpoint: 400px;




