@import '../../../../variables.scss';

.introduction {
  max-width: 1200px;
  padding: 40px 20px;
  margin: 0 auto;
  display: grid;
  grid-template-columns: 1fr;
  justify-items: center;
  gap: 20px; 
  align-items: center;
  cursor: default;
  
  @media (min-width: $tablet-breakpoint) {
    grid-template-columns: 1fr 2fr;
    justify-items: center;
    gap: 100px;
  }
  
  @media (min-width: $desktop-breakpoint) {
    justify-items: flex-start;
    grid-template-columns: 1fr 2fr;
  }

  &__title{
    font-size: $text-font-size-large; 
    line-height: 1.125;
    margin-bottom: 20px; 
    position: relative;
    @media (min-width: $mobile-breakpoint) {
      font-size: $text-font-size-extra-large;
    }

    @media (min-width: $desktop-breakpoint) {
      font-size: $text-font-size-super-large;
      margin-bottom: 30px;
    }

    &::before{
      content: "";
      display: block;
      width: 30px;
      height: 10px;
      background: url("../../../../assets/detalhe.svg") no-repeat center;
      position: absolute;
      z-index: -1;
      top: -12px; 
      left: 0;
      @media ($mobile-breakpoint) {
        width: 30px;
        height: 10px;
        left: 2px;
        top: -10px
      }
      @media (min-width: $tablet-breakpoint) {
        width: 130px;
        height: 100px;
        left: -40px;
        top: -15px;
      } 
    }
  }

  &__description{
    font-size: $text-font-size-medium;
    color: $charcoal-shadow;
  }

  &__image{
    object-fit: cover;
    display: none;
    
    @media (min-width: $tablet-breakpoint) {
      display: block; 
    }
  }

}