@import '../../../../variables.scss';

.formation{
    background: var(--black);
    padding: 20px;
    border-radius: 4px;
    display: flex;
    flex-direction: column;

    &__type{
      font-size: $text-font-size-small;
      text-transform: uppercase;
      color: var(--soft-gray);
      margin-bottom: 10px;
    }
  }
  .formation__course{
    color: var(--white);
    flex: 1;
    font-size: $text-font-size-small;
    line-height: 1.4;
    margin-bottom: 40px;
    position: relative;

    &::before{
      content: '';
      display: block;
      width: 4px;
      height: 20px;
      background: linear-gradient(var(--luminous-lime),var(--zesty-green));
      position: absolute;
      left: -24px;
    }
  }
  .formation__institution{
    font-size: $text-font-size-small;
    color: var(--soft-gray);
  }