@import '../../../../variables.scss';

.project {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 40px;

  &__link {
    color: $dark;
    cursor: pointer;
    text-decoration: none;
    margin-top: 10px;
    font-weight: bold;
    transition: 1s;

    &:hover {
      color: $iron-gray;
    }
  }

  &__img {
    border-radius: 10px;
    object-fit: cover;
    height: 189px;
  }

  &__legend {
    margin-top: 10px;
    text-align: center;
  }
}





