@import '../../../../variables.scss';

.navbar {
    gap: 10px;
    display: grid;
    grid-template-columns: 1fr;

    @media screen and (min-width: $tablet-breakpoint) {
        grid-template-columns: 1fr 1fr;
    }

    @media screen and (min-width: $desktop-breakpoint) {
        grid-template-columns: 1fr 1fr 1fr 1fr;
    }
}
