@import '../../../../variables.scss';

.navbar {
    &__list {
        display: flex;
        gap: 36px;
        font-size: 12px;
        letter-spacing: .08em;
        list-style: none;
        margin: 0;
        padding: 0;
    }

    @media screen and (max-width: 980px) {
        display: none;
    }
}
