@import '../../../../variables.scss';
.footer{
  background: var(--deep-charcoal);

  &__container{
    align-items: center;
    max-width: 1200px;
    padding: 120px 20px 60px 20px;
    margin: 0 auto;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 100px;

    
    @media (max-width: $tablet-breakpoint){
      grid-template-columns: 1fr;
      gap: 40px;
    }
  }

  &__text{
    color: var(--silver-cloud);
    font-size: $text-font-size-medium;
    line-height: 1.33;
    
  }
  &__contactItem{
    font-weight: bold;
    font-size: $text-font-size-medium;
    line-height: 1.1;
    color: var(--white);
    margin-bottom: 30px;
  }
  
  @media (min-width: $tablet-breakpoint){ 
    &__contactItem {
      font-size: $text-font-size-large-medium;
    }
  }
  &__contactLink{
    color: var(--white);
    text-decoration: none;

    &:hover{
      text-decoration: underline;
    }
  }

}