@import '../../../../variables.scss';

.darkMode{
   right: 5px;
   align-items: center;
   top: 5px;
   gap: 10px;
   display: flex;
   position: absolute;

 &__moon{
    filter: brightness(0) invert(1);
 }
 &__sun{
    filter: brightness(0) invert(1);
 }
}


