@import '../../../../variables.scss';

.darkMode{
   right: 5px;
   align-items: center;
   top: 5px;
   gap: 10px;
   display: flex;
   position: absolute;
   
   @media (max-width: 474px) {
      flex-direction: column-reverse;
   }

 &__icon{
    filter: brightness(0) invert(1);
 }
}


